<article>

    <section class="listing-description">
        <h2 class="listing-heading">{{design?.name}}</h2>
        
    </section>
    <img class="listing-photo" [src]="design?.image">
    
    <section class="listing-features">
        <h2 class="section-heading">About this design</h2>
        <ul>
            <li>Width of the {{design?.name}}: {{design?.width}}</li>
            <li>Height of the {{design?.name}}: {{design?.height}}</li>
            <li>Weight of the {{design?.name}}: {{design?.weight}}</li>
        </ul>
    </section>
    <section class="listing-apply">
        <h2 class="section-heading">Place a bid to buy this Design!</h2>
        <button class="primary"
                [routerLink]="['/bid', design?.id]">
                Place a bid</button>
    </section>
</article>